[submodule "mpv/.config/mpv/plugins/ModernZ"]
	path = mpv/.config/mpv/plugins/ModernZ
	url = https://github.com/Samillion/ModernZ.git
[submodule "mpv/.config/mpv/plugins/playlist-manager"]
	path = mpv/.config/mpv/plugins/playlist-manager
	url = https://github.com/edieguez/playlist-manager.git
[submodule "mpv/.config/mpv/plugins/yas"]
	path = mpv/.config/mpv/plugins/yas
	url = https://github.com/edieguez/yas.git
[submodule "mpv/.config/mpv/plugins/perpetual-playlist"]
	path = mpv/.config/mpv/plugins/perpetual-playlist
	url = https://github.com/edieguez/perpetual-playlist.git
