[Desktop Entry]
Comment=
Exec=/opt/IntelliJ/bin/idea.sh
Icon=/opt/IntelliJ/bin/idea.png
Name=IntelliJ IDEA
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
